<h2>How to Play Distinction</h2>

<p>Distinction questions begin with a set of premises that define the relationships between various items. For example:</p>
<ul>
    <li>Mango is the same as Glass</li>
    <li>Herbs is the same as Mango</li>
    <li>Glass is the same as Shower</li>
    <li>Herbs is opposite of Shower</li>
</ul>

<p>Based on your analysis, the game might ask you to evaluate a statement like:</p>
<p><strong>Conclusion:</strong> "Mango is opposite of Shower."</p>

<p>Based on your analysis, click the <strong>True</strong> button if you believe the given relationship is correct or the <strong>False</strong> button if you think it is not.</p>

<app-tutorial-negation-cue/>