.battlefield {
    font-size: 1.5rem;
    margin-block: 1rem;
}

.timerbar-wrap {
    padding: 8px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.timerbar {
    height: 1.25rem;
}

:host ::ng-deep .timerbar .progress-bar {
    text-align: right;
}

.premise.premise--odd {
    padding: 0.5rem;
    line-height: 1;
    background-color: #00000011;
    border-radius: 0.5rem;
}