.battlefield {
    font-size: 1.5rem;
    margin-block: 1rem;
}

.timerbar-wrap {
    padding: 8px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.timerbar {
    height: 1.25rem;
}

:host ::ng-deep .timerbar .progress-bar {
    text-align: right;
}

.premises {
    display: grid;
    gap: 0.25rem;
}

.premise:not(:first-child) {
    border-top: 1px solid rgba(var(--app-gray_100));
    padding-top: 0.25rem;
}