<app-card>
    <div body class="battlefield" [ngStyle]="{ width: (gameMode === '1') ? '100%' : 'auto' }">
        <div class="timerbar-wrap">
            <ngb-progressbar *ngIf="timerType !== '0'" class="timerbar" type="success" [value]="100 * timerLeft / timerFull">
                <span class="me-2">{{timerLeft}} s</span>
            </ngb-progressbar>
        </div>

        <div [hidden]="gameMode !== '1'">
            <ngb-carousel
                #carousel
                [interval]="999999999"
                [showNavigationArrows]="false"
                [showNavigationIndicators]="false"
                style="border: 0; box-shadow: none;"
            >
                <ng-template ngbSlide *ngIf="sylSrv.question.instructions as instr">
                    <div style="display: grid; place-items: center;">
                        <div>
                            <small class="text-muted">Instructions</small>
                            <div class="fst-italic" [innerHTML]="instr"></div>
                        </div>
                    </div>
                </ng-template>

                <ng-template ngbSlide *ngFor="let p of sylSrv.question.premises; let i = index">
                    <div style="display: grid; place-items: center;">
                        <div>
                            <small class="text-muted">Premise {{i + 1}}</small>
                            <div class="premise" [innerHTML]="p"></div>
                        </div>
                    </div>
                </ng-template>
    
                <ng-template ngbSlide id="conclusion">
                    <div style="display: grid; place-items: center;">
                        <div>
                            <small class="text-muted">Conclusion</small>
                            <div class="conclusion" [innerHTML]="sylSrv.question.conclusion"></div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
    
            <div class="flex-between p-3" style="position: absolute; left: 0; bottom: 0; width: 100%;">
                <button class="btn border-0" style="box-shadow: none;" (click)="carousel.prev()"><i class="bi bi-arrow-left"></i> Prev</button>
                <button class="btn border-0" style="box-shadow: none;" (click)="carousel.next()">Next <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
        
        <div [hidden]="gameMode === '1'">
            <ng-container *ngIf="sylSrv.question.instructions as instr">
                <small class="d-block text-muted">Instructions</small>
                <div class="fst-italic small mb-3" [innerHTML]="instr"></div>
            </ng-container>

            <small class="d-block text-muted">Premises</small>
            <div *ngFor="let p of sylSrv.question.premises" class="premise" [innerHTML]="p"></div>

            <small class="d-block text-muted mt-3">Conclusion</small>
            <div class="conclusion" [innerHTML]="sylSrv.question.conclusion"></div>
        </div>
    </div>

    <div footer class="d-flex gap-3 justify-content-center">
        <button class="btn btn-lg btn-danger col-md-3 col-4" (click)="sylSrv.checkQuestion(false)">False</button>
        <button class="btn btn-lg btn-success col-md-3 col-4" (click)="sylSrv.checkQuestion(true)">True</button>
    </div>
</app-card>