<h2>How to Play Analogy</h2>

<p>Each analogy question begins with a set of statements that define the relationships between different items. For example:</p>
<ul>
    <li>Brush is the same as Desk</li>
    <li>Desk is opposite of Bread</li>
    <li>Skirt is opposite of Heart</li>
    <li>Bread is the same as Skirt</li>
</ul>

<p>After reviewing the relationships, you'll be presented with an analogy that you need to evaluate. For example:</p>
<p><strong>Conclusion:</strong> "Heart to Bread is the same as Skirt to Desk."</p>

<p>Based on your analysis, click the <strong>True</strong> button if you believe the given relationship is correct or the <strong>False</strong> button if you think it is not.</p>

<app-tutorial-negation-cue/>