<app-card>
    <div class="p-3" body>
        <div class="text-center" *ngIf="!questions.length">
            <h3 class="mb-3">Play to see something here</h3>
            <button class="btn btn-lg btn-primary" (click)="sylSrv.playArcadeMode()">Press to Play</button>
        </div>

        <div class="d-grid gap-4">
            <div
                class="card"
                *ngFor="let q of questions"
                [class.timeout]="q.userAnswer === undefined"
                [class.correct]="q.userAnswer !== undefined && q.userAnswer === q.isValid"
                [class.incorrect]="q.userAnswer !== undefined && q.userAnswer !== q.isValid"
            >
                <div class="mode-title">{{q.playgroundMode ? "Playground Mode" : "Arcade Mode"}}</div>

                <button class="copy-paste" (click)="copyQuestion(q)" ngbTooltip="Click here to copy the question raw JSON data">C</button>

                <div class="overflow-auto" style="max-height: 250px; padding: 0.5rem 0.75rem;">
                    <div *ngIf="q.instructions" class="instructions" [innerHTML]="q.instructions"></div>
                    <div *ngFor="let p of q.premises" class="premise" [innerHTML]="p"></div>
                    <div class="mt-2" [innerHTML]="q.conclusion"></div>
                </div>
    
                <small class="d-grid" style="grid-template-columns: repeat(4, 1fr);">
                    <div class="bd-left">
                        <div class="fw-bold">Type</div>
                        {{ q.type }}
                    </div>
    
                    <div class="bd-left">
                        <div class="fw-bold">Correct Answer</div>
                        {{ q.isValid }}
                    </div>
    
                    <div class="bd-left">
                        <div class="fw-bold">User Answer</div>
                        {{ (q.userAnswer === undefined) ? "Timeout" : q.userAnswer }}
                    </div>
    
                    <div class="bd-left">
                        <div class="fw-bold">Time</div>
                        {{ (q.userAnswer === undefined) ? "Timeout" : (((q.answeredAt - q.createdAt) / 1000) | number:".1-1") + "s" }}
                    </div>
                </small>
            </div>

            <div *ngIf="questions.length && questions.length !== allQuestions.length" class="d-flex justify-content-center">
                <button class="btn btn-primary" (click)="loadMoreQuestions()">Load More</button>
            </div>
        </div>
    </div>

    <div footer class="playcard-toolbar">
        <div>
            <button
                class="btn btn-outline-primary"
                (click)="router.navigate([EnumScreens.Start]);"
            >
                <i class="bi bi-arrow-left"></i> Go to Start
            </button>
        </div>
        <div>{{ questions.length }} / {{ allQuestions.length }}</div>
    </div>
</app-card>