<h2>How to Play Direction</h2>

<p>Each question will present a series of directional relationships. These premises describe where one object is located in relation to another. For example:</p>
<ul>
    <li>Jewelry is at East of Color</li>
    <li>Tail is at West of Milk</li>
    <li>Color is at South-East of Tail</li>
    <li>Milk is at South-East of Jewelry</li>
</ul>

<p>If the question provides a conclusion like "Jewelry is north of Tail," and your map shows that "Jewelry" is not north of "Tail" but rather to its east, you would click <strong>False</strong>. If the statement matches your map, click <strong>True</strong>.</p>

<app-tutorial-negation-cue/>