<h2>How to Play Direction</h2>

<p>Each question will present a series of directional relationships. These premises describe where one object is located in relation to another. For example:</p>
<ul>
    <li>Rainbow is two steps North and one step West of Violinist</li>
    <li>Violinist is two steps South of Pet</li>
</ul>

<p>If the question provides a conclusion like "Pet is two steps East of Rainbow," and your map shows that "Pet" is indeed two steps East of "Rainbow," click <strong>True</strong> otherwise click <strong>False</strong>.</p>
<p>In this specific example you would click <strong>False</strong> because "Pet" is only one step East of "Rainbow."</p>

<h3>The <span class="is-negated">Inversion</span> Cue</h3>
<p>Whenever you encounter a phrase highlighted in <span class="is-negated">red</span>, it's an indication that you need to think inversely about the information presented.</p>