:host ::ng-deep {
    .playcard-header, 
    .playcard-footer {
        background: transparent;
        border: none;
    }

    .playcard-header:empty, 
    .playcard-footer:empty {
        padding: 0;
    }

    .playcard-toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .subject {
        font-weight: 700;
    }

    .is-negated {
        color: #800000;
        font-weight: 700;
    }

    .tier-badge {
        border: 1px solid;
    }
}

.great-title {
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    bottom: 100%;
    font-size: 3.25rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
}

.great-title-version {
    font-size: 1.75rem;
    text-transform: lowercase;
    margin-bottom: 0.25rem;
}

.playcard {
    width: min(36rem, 100vw);
    height: min(36rem, 100svh);
    background-color: rgba(var(--app-gray_0), 1);
    overflow: hidden;
}

.playcard-body {
    display: grid;
    place-items: center;
    height: 100%;
    overflow: auto;
    padding: 1rem;
    background-image: linear-gradient(62deg, rgba(142, 197, 252, 0.25) 0%, rgba(224, 195, 252, 0.25) 100%);
}

.playcard-body::after {
    content: "";
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 1), inset 0 -1px 0 rgba(0, 0, 0, 1);
    position: absolute;
    inset: 0;
    pointer-events: none;
}

@media(max-width: 768px) {
    .great-title {
        display: none;
    }
    
    .playcard {
        width: 100vw;
        height: 100svh;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }
}