<div class="playcard card">
    <div class="playcard-header card-header">
        <div class="playcard-toolbar">
            <div>
                <span
                    class="tier-badge badge fs-6"
                    [style.backgroundColor]="TIER_COLORS[sylSrv.tier].bgColor"
                    [style.color]="TIER_COLORS[sylSrv.tier].textColor"
                >
                    {{ sylSrv.tier }}
                </span>
            </div>
            <app-card-dropdown></app-card-dropdown>
        </div>
    </div>

    <div class="card-body p-0 overflow-hidden position-relative">
        <div class="playcard-body">
            <ng-content select="[body]"></ng-content>
        </div>
    </div>

    <div class="playcard-footer card-footer">
        <ng-content select="[footer]"></ng-content>
    </div>
</div>