<h2>How to Play Direction3D Spatial</h2>

<p>Each Direction3D Spatial question presents a set of spatial relationships between different objects. For example:</p>
<ul>
    <li>Temple is Above and West of Luggage</li>
    <li>Luggage is South of Governor</li>
    <li>Hotel is North-East of Temple</li>
    <li>Governor is Below of Hotel</li>
</ul>

<p>After understanding each object's relative position, you may be asked to verify a specific relationship between two or more objects. For example:</p>
<p><strong>Conclusion:</strong> "Is the Hotel above the Governor?"</p>

<p>Based on your analysis, click the <strong>True</strong> button if you believe the given relationship is correct or the <strong>False</strong> button if you think it is not.</p>

<app-tutorial-negation-cue/>