<h2>How to Play Direction3D Spatial</h2>

<p>Each Direction3D Spatial question presents a set of spatial relationships between different objects. For example:</p>
<ul>
    <li>Musician is on the same level and one step West of Bar</li>
    <li>Cab is one level below, one step North and one step East of Musician</li>
</ul>

<p>After understanding each object's relative position, you may be asked to verify a specific relationship between two or more objects. For example:</p>
<p><strong>Conclusion:</strong> "Bar is one level above and two steps South of Cab"</p>

<p>Click the <strong>True</strong> button if the relationship is correct or the <strong>False</strong> button if you think it is not.</p>
<p>In this specific example the correct answer is <strong>False</strong>, as "Bar" is only one step South of "Cab."</p>

<h3>The <span class="is-negated">Inversion</span> Cue</h3>
<p>Whenever you encounter a phrase highlighted in <span class="is-negated">red</span>, it's an indication that you need to think inversely about the information presented.</p>