/* VARIABLES */
:root {
    --app-body-background: var(--app-gray_100);
    --app-sidebar-gradient: linear-gradient(135deg, rgba(var(--app-blue_400), 1), rgba(var(--app-indigo_400), 1));
    --flexgrid-col-min-width: 20ch;
    --flexgrid-gap: 1rem;
}

/* RESETS */
body {
    background: rgba(var(--app-body-background), 1);
    font-family: var(--bs-font-sans-serif);
}

.ngb-dp-arrow-btn {
    border: 1px solid rgba(var(--app-gray_900), 1) !important;
}

ngb-typeahead-window {
    width: 100%;
    max-height: 450px;
    overflow: auto;
}

ngb-typeahead-window.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
}

ngb-typeahead-window .dropdown-item {
    white-space: initial;
}

.pagination {
    margin-bottom: 0 !important;
}