<app-card>
    <div body style="min-width: 320px; padding-top: 24px;">
        <app-daily-progress [showWeeklyProgress]="true"></app-daily-progress>
        
        <ul class="list-group mb-4">
            <li class="list-group-item flex-between">
                <b>Tier</b>
                <div>{{ sylSrv.tier }} {{ sylSrv.score }} pts <small class="text-muted">(next {{nextTier}}<i [ngbTooltip]="pointsRemaining + ' pts left to this next level'" class="bi bi-info-circle ms-1"></i>)</small></div>
            </li>
    
            <li class="list-group-item flex-between">
                <b>Right</b>
                <div>{{ correctQs.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Wrong</b>
                <div>{{ incorrectQs.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Timedout</b>
                <div>{{ unansweredQs.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Current Streak</b>
                <div>{{ currentStreak.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Longest Streak</b>
                <div>{{ longestStreak.length }}</div>
            </li>

            <li class="list-group-item flex-between">
                <b>Time Played Today</b>
                <div>{{ formatTime(timePlayedToday) }}</div>
            </li>

            <li class="list-group-item flex-between">
                <b>Time Played This Week</b>
                <div>{{ formatTime(timePlayedThisWeek) }}</div>
            </li>
        </ul>

        <app-game-mode-choose></app-game-mode-choose>

        <app-timer-choose></app-timer-choose>
    </div>

    <div footer class="text-center">
        <button class="btn btn-lg btn-primary" (click)="sylSrv.playArcadeMode()">Press to Play</button>
    </div>
</app-card>