<app-card>
    <div body style="min-width: 320px;">
        <h2 class="text-center">Your Stats</h2>

        <ul class="list-group mb-4">
            <li class="list-group-item flex-between">
                <b>Tier</b>
                <div>{{ sylSrv.tier }} ({{ sylSrv.score }} pts earned)</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Next Tier</b>
                <div>{{ nextTier }} ({{ pointsRemaining }} pts left)</div>
            </li>
    
            <li class="list-group-item flex-between">
                <b>Correct Answers</b>
                <div>{{ correctQs.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Incorrect Answers</b>
                <div>{{ incorrectQs.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Unanswered Questions</b>
                <div>{{ unansweredQs.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Current Streak</b>
                <div>{{ currentStreak.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Longest Streak</b>
                <div>{{ longestStreak.length }}</div>
            </li>
        </ul>

        <div class="d-flex flex-between gap-2">
            <input type="radio" id="timer-choice-0" name="timer-kind" (input)="setTimer('0')"> <label for="timer-choice-0" ngbTooltip="No timer at all">No timer</label>
            <input type="radio" id="timer-choice-1" name="timer-kind" (input)="setTimer('1')"> <label for="timer-choice-1" ngbTooltip="Fixed timer based on tier">Tier-based timer</label>
            <input type="radio" id="timer-choice-2" name="timer-kind" (input)="setTimer('2')"> <label for="timer-choice-2" ngbTooltip="Timer adapts as you play">Adaptive timer</label>
        </div>
    </div>

    <div footer class="text-center">
        <button class="btn btn-lg btn-primary" (click)="sylSrv.start()">Press to Play</button>
    </div>
</app-card>
