input, label {
    cursor: pointer;
}

.timerbar-wrap {
    padding: 8px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.timerbar {
    height: 1.25rem;
}

::ng-deep .timerbar .progress-bar {
    text-align: right;
}