<h2>How to Play Binary</h2>

<p>Each binary question starts with a set of relationships between different items. Here’s an example:</p>
<ul>
    <li>Jaw is same as Foot</li>
    <li>Foot is opposite of Barbie</li>
    <li>No Violin is Cashier</li>
    <li>All Violin is Paint</li>
    <li>Jaw is same as Barbie</li>
</ul>

<p>Now, consider the following conclusion:</p>
<blockquote>"Jaw is same as Barbie <em>or</em> No Cashier is Paint"</blockquote>

<p>Based on your analysis, click the <strong>True</strong> button if you believe the given relationship is correct or the <strong>False</strong> button if you think it is not.</p>

<app-tutorial-negation-cue/>