<h2>How to Play Linear Arrangement</h2>

<p>Each question has a series of linear arrangement relationships. For example:</p>
<ul>
    <li>Chicken is to the immediate right of Cinema</li>
    <li>Bike is to the immediate right of Chicken</li>
</ul>

<p>To solve the puzzle, arrange the subjects linearly based on the premises.</p>
<p>If the conclusion is like "Cinema is to the immediate left of Bike," and your arrangement shows that "Cinema" is to the left of "Chicken", you would click <strong>False</strong>. If the statement accurately reflects your arrangement, click <strong>True</strong>.</p>

<app-tutorial-negation-cue/>