:host ::ng-deep {
    .progressbar.progress {
        border-radius: 0 !important;
        border: none !important;
        box-shadow: none !important;
        margin: 0 !important;
    }

    .progressbar .progress-bar {
        text-align: right;
    }
}

.progressbars-wrap {
    padding: 8px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.progressbars {
    border-radius: var(--border-radius_md);
    border: 1px solid rgba(var(--app-gray_900), 1);
    box-shadow: var(--shadow-sm);
    margin: 0 var(--shadow-size-sm) var(--shadow-size-sm) 0;
    overflow: hidden;
}

.progressbar {
    height: 1.25rem;
}

.progressbar:not(:last-child) {
    border-bottom: 1px solid !important;
}


.progress-1 {
    background-color: #E74C3C;
}

.progress-2 {
    background-color: #E67E22;
}

.progress-3 {
    background-color: #F39C12;
}

.progress-4 {
    background-color: #F1C40F;
}

.progress-5 {
    background-color: #D4AC0D;
}

.progress-6 {
    background-color: #A3CB38;
}

.progress-7 {
    background-color: #82E0AA;
}

.progress-8 {
    background-color: #58D68D;
}

.progress-9 {
    background-color: #2ECC71;
}

.progress-10 {
    background-color: #27AE60;
}