<div class="progressbars-wrap">
    <div class="progressbars">
        <div *ngIf="!this.hideTrainingUnit" class="progress progressbar partials">
            <div
                class="progress-bar text-center"
                [style.width]="trainingUnitPercentage.rightPerc + '%'"
            >
                <span class="px-2">
                    {{trainingUnitPercentage.right}}
                </span>
            </div>

            <div
                class="progress-bar text-center"
                [style.width]="trainingUnitPercentage.timeoutPerc + '%'"
            >
                <span class="px-2">
                    {{trainingUnitPercentage.timeout}}
                </span>
            </div>

            <div
                class="progress-bar text-center position-relative overflow-visible"
                [style.width]="trainingUnitPercentage.wrongPerc + '%'"
            >
                <span class="px-2">
                    {{trainingUnitPercentage.wrong}}
                </span>
                <span class="progress-label">Training unit</span>
            </div>
        </div>
        
        <div *ngIf="!this.hideDaily" class="progress progressbar">
            <div
                class="progress-bar progress-1 position-relative overflow-visible"
                [class.progress-2]="this.dailyProgressPercentage > 10"
                [class.progress-3]="this.dailyProgressPercentage > 20"
                [class.progress-4]="this.dailyProgressPercentage > 30"
                [class.progress-5]="this.dailyProgressPercentage > 40"
                [class.progress-6]="this.dailyProgressPercentage > 50"
                [class.progress-7]="this.dailyProgressPercentage > 60"
                [class.progress-8]="this.dailyProgressPercentage > 70"
                [class.progress-9]="this.dailyProgressPercentage > 80"
                [class.progress-10]="this.dailyProgressPercentage > 90"
                [style.width]="this.dailyProgressPercentage + '%'"
            >
                <span *ngIf="this.dailyProgressPercentage > 5" class="me-2">{{dailyProgressPercentage}} %</span>
                <span class="progress-label">Daily time goal</span>
            </div>
        </div>
    
        <div *ngIf="!this.hideWeekly" class="progress progressbar">
            <div
                class="progress-bar progress-1 position-relative overflow-visible"
                [class.progress-2]="this.weeklyProgressPercentage > 10"
                [class.progress-3]="this.weeklyProgressPercentage > 20"
                [class.progress-4]="this.weeklyProgressPercentage > 30"
                [class.progress-5]="this.weeklyProgressPercentage > 40"
                [class.progress-6]="this.weeklyProgressPercentage > 50"
                [class.progress-7]="this.weeklyProgressPercentage > 60"
                [class.progress-8]="this.weeklyProgressPercentage > 70"
                [class.progress-9]="this.weeklyProgressPercentage > 80"
                [class.progress-10]="this.weeklyProgressPercentage > 90"
                [style.width]="this.weeklyProgressPercentage + '%'"
            >
                <span *ngIf="this.weeklyProgressPercentage > 5" class="me-2">{{weeklyProgressPercentage}} %</span>
                <span class="progress-label">Weekly time goal</span>
            </div>
        </div>
    </div>
</div>