<h2>How to Play Direction3D Temporal</h2> 

<p>Each Direction3D Temporal question presents a series of statements that describe the relative positions of objects. For example:</p>
<ul>
    <li>Hammer is in the future and North of Church</li>
    <li>Dates is in the present and North-West of Hammer</li>
    <li>Church is in the past and South-East of Dates</li>
</ul>

<p>After understanding each object's position and their relations to each other, you need to test a conclusion. For example:</p>
<p><strong>Conclusion:</strong> "Is the Church to the south-east of the Dates?"</p>

<p>Based on your analysis, click the <strong>True</strong> button if you believe the given relationship is correct or the <strong>False</strong> button if you think it is not.</p>

<app-tutorial-negation-cue/>