<h2>How to Play Direction3D Temporal</h2>

<p>Each Direction3D Temporal question presents a series of statements that describe the relative positions of objects. For example:</p>
<ul>
    <li>Pie is one hour before and one step West of Trap</li>
    <li>Trap is at the same time, one step North and one step East of Devil</li>
</ul>

<p>After understanding each object's position and their relations to each other, you need to test a conclusion. For example:</p>
<p><strong>Conclusion:</strong> "Pie is one hour before and one step North of Devil"</p>

<p>Click the <strong>True</strong> button if the relationship is correct or the <strong>False</strong> button if you think it is not.</p>
<p>In this specific example the correct answer is <strong>True</strong>.</p>

<h3>The <span class="is-negated">Inversion</span> Cue</h3>
<p>Whenever you encounter a phrase highlighted in <span class="is-negated">red</span>, it's an indication that you need to think inversely about the information presented.</p>