<app-card>
    <div body>
        <div class="text-center" *ngIf="!questions.length">
            <h3 class="mb-3">Play to discover question types</h3>
            <button class="btn btn-lg btn-primary" (click)="sylSrv.playArcadeMode()">
                <i class="bi bi-play-fill"></i> Play
            </button>
        </div>
        
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" *ngIf="questions.length">
            <ngb-panel title="Distinction">
                <ng-template ngbPanelContent>
                    <app-tutorial-distinction></app-tutorial-distinction>
                </ng-template>
            </ngb-panel>

            <ngb-panel title="Comparison Chronological">
                <ng-template ngbPanelContent>
                    <app-tutorial-comparison-chronological></app-tutorial-comparison-chronological>
                </ng-template>
            </ngb-panel>
        
            <ngb-panel title="Comparison Numerical">
                <ng-template ngbPanelContent>
                    <app-tutorial-comparison-numerical></app-tutorial-comparison-numerical>
                </ng-template>
            </ngb-panel>

            <ngb-panel title="Syllogism">
                <ng-template ngbPanelContent>
                    <app-tutorial-syllogism></app-tutorial-syllogism>
                </ng-template>
            </ngb-panel>

            <ngb-panel title="Linear Arrangement">
                <ng-template ngbPanelContent>
                    <app-tutorial-linear-arrangement></app-tutorial-linear-arrangement>
                </ng-template>
            </ngb-panel>

            <ngb-panel title="Circular Arrangement">
                <ng-template ngbPanelContent>
                    <app-tutorial-circular-arrangement></app-tutorial-circular-arrangement>
                </ng-template>
            </ngb-panel>

            <ngb-panel title="Direction">
                <ng-template ngbPanelContent>
                    <app-tutorial-direction></app-tutorial-direction>
                </ng-template>
            </ngb-panel>
        
            <ngb-panel title="Direction 3D Spatial">
                <ng-template ngbPanelContent>
                    <app-tutorial-direction3D-spatial></app-tutorial-direction3D-spatial>
                </ng-template>
            </ngb-panel>

            <ngb-panel title="Direction 3D Temporal">
                <ng-template ngbPanelContent>
                    <app-tutorial-direction3D-temporal></app-tutorial-direction3D-temporal>
                </ng-template>
            </ngb-panel>

            <ngb-panel title="Analogy">
                <ng-template ngbPanelContent>
                    <app-tutorial-analogy></app-tutorial-analogy>
                </ng-template>
            </ngb-panel>
        
            <ngb-panel title="Binary">
                <ng-template ngbPanelContent>
                    <app-tutorial-binary></app-tutorial-binary>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>

    <div footer class="playcard-toolbar">
        <div>
            <button
                class="btn btn-outline-primary"
                (click)="router.navigate([EnumScreens.Start])"
            >
                <i class="bi bi-arrow-left"></i> Go to Start
            </button>
        </div>
    </div>
</app-card>