<app-card>
    <div body class="py-3 px-md-3">
        <div class="text-center" *ngIf="!questions.length">
            <h3 class="mb-3">Play to discover question types</h3>
            <button class="btn btn-lg btn-primary" (click)="sylSrv.playArcadeMode()">
                Play <i class="bi bi-play-fill"></i>
            </button>
        </div>

        <div *ngIf="questions.length">
            <p class="text-center lead" style="margin-bottom: 2rem;">If you need a refresher tutorial, just click any of the items below to navigate to the tutorial page.</p>

            <div class="d-grid gap-2">
                <button
                    *ngFor="let type of questionTypes"
                    class="btn btn-outline-primary"
                    [class.d-none]="!seenQs[type]"
                    (click)="navTo(type)"
                >{{type}}</button>
            </div>
        </div>
    </div>

    <div footer class="playcard-toolbar">
        <div>
            <button
                class="btn btn-outline-primary"
                (click)="router.navigate([EnumScreens.Start])"
            >
                <i class="bi bi-arrow-left"></i> Start
            </button>
        </div>
    </div>
</app-card>