<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Error</h4>
        <button class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        {{ validationError }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="modal.dismiss()">OK</button>
    </div>
</ng-template>

<app-card>
    <div class="p-3" body style="max-width: 500px;">
        <p class="lead mb-5">Playground Mode is a free-form mode where questions are just for practice, they don't count for points or statistics.</p>

        <small class="text-muted d-block mb-3">Questions & Premises</small>
        <app-dynamic-form class="d-block mb-5" [fields]="fields" (formValueChanged)="formData = $event" [emitInitial]="true"></app-dynamic-form>
        
        <app-game-mode-choose [forPlayground]="true"></app-game-mode-choose>

        <app-timer-choose [forPlayground]="true"></app-timer-choose>
    </div>

    <div footer class="playcard-toolbar">
        <div>
            <button
                class="btn btn-outline-primary"
                (click)="router.navigate([ EnumScreens.Start ])"
            >
                <i class="bi bi-arrow-left"></i> Go Back
            </button>
        </div>
        <div>
            <button
                class="btn btn-primary"
                (click)="play(content)"
            >Let's Play!</button>
        </div>
    </div>
</app-card>