<div class="timer-choices">
    <div class="timer-choice">
        <input type="radio" id="timer-choice-2" name="timer-kind" (click)="setTimer('2')">
        <label for="timer-choice-2" ngbTooltip="Timer adapts as you play">Adaptive timer</label>
    </div>

    <div class="timer-choice">
        <input type="radio" id="timer-choice-1" name="timer-kind" (click)="setTimer('1')">
        <label for="timer-choice-1" ngbTooltip="Choose your own timers">Custom timer</label>
    </div>

    <div class="timer-choice">
        <input type="radio" id="timer-choice-0" name="timer-kind" (click)="setTimer('0')">
        <label for="timer-choice-0" ngbTooltip="No timer at all">Remove timer</label>
    </div>
</div>