:host {
    display: grid;
    place-items: center;
    height: 100svh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC88 0%, #E0C3FC88 100%), url('^assets/images/bg.avif');
    background-size: cover;
}