<small
    class="text-muted"
    [class.d-block]="forPlayground"
    [class.mb-1]="forPlayground"
>Timer Mode</small>

<div class="d-flex flex-wrap" style="gap: 0.5rem;">
    <div class="d-flex gap-2" style="width: 100px;">
        <input type="radio" id="timer-choice-0" name="timer-kind" (click)="setTimer('0')">
        <label for="timer-choice-0" ngbTooltip="No timer at all">No timer</label>
    </div>

    <div class="d-flex gap-2" style="width: 100px;">
        <input type="radio" id="timer-choice-2" name="timer-kind" (click)="setTimer('2')">
        <label for="timer-choice-2" ngbTooltip="Timer adapts as you play">Adaptive</label>
    </div>

    <div class="d-flex gap-2" style="width: 100px;">
        <input type="radio" id="timer-choice-1" name="timer-kind" (click)="setTimer('1')">
        <label for="timer-choice-1" ngbTooltip="Choose your own timers">Custom</label>
    </div>
</div>