<app-card>
    <div body>
        <p>Feel free to explore a collection of games I've created over the years. Take a moment to check them out and challenge your mind!</p>
        <p>I'd love to hear your ideas and opinions, so don't hesitate to share them, you can find me on Telegram <i>@FredoCorleone</i>.</p>
        <p>Wishing you a great life and happy brain training!</p>
        
        <div class="d-grid gap-3 mt-5">
            <div>
                <div class="section-title">N-back Games</div>
                <div class="d-grid justify-content-start">
                    <a href="https://4skinskywalker.github.io/3D-Hyper-N-back/" target="_blank">3D Hyper N-back</a>
                    <a href="https://4skinskywalker.github.io/3D-Dual-N-back-Cubeception/" target="_blank">3D Dual N-back (Cubeception)</a>
                    <a href="https://4skinskywalker.github.io/3D-Dual-N-back-Cube-in-the-Middle/" target="_blank">3D Dual N-back (Cube in the Middle)</a>
                </div>
            </div>
    
            <div>
                <div class="section-title">Mental Rotation Games</div>
                <div class="d-grid justify-content-start">
                    <a href="https://4skinskywalker.github.io/3d-rotation/" target="_blank">3D Rotation</a>
                    <a href="https://4skinskywalker.github.io/Mental-Rotation-Training/" target="_blank">Box Mental Rotation</a>
                </div>
            </div>

            <div>
                <div class="section-title">Miscellaneous Games</div>
                <div class="d-grid justify-content-start">
                    <a href="https://4skinskywalker.github.io/logi-number/" target="_blank">Logi Number</a>
                    <a href="https://4skinskywalker.github.io/Word-Memorization-Training/" target="_blank">Word Memorization Training</a>
                    <!--<a href="https://4skinskywalker.github.io/aptitude-tests/" target="_blank">Aptitude Tests</a>-->
                </div>
            </div>
        </div>
    </div>
</app-card>
