/* Start of VARIABLES */
:root {
    --border-radius_sm: calc(var(--border-radius_md) * 0.2 / 0.25);
    --border-radius_md: 1.1rem;
    --border-radius_lg: calc(var(--border-radius_md) * 0.3 / 0.25);
}
/* End of VARIABLES */

.flex-between {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    box-shadow: 0 4px 8px 0px #0002;
    background-color: rgba(var(--app-gray_0), 1);
    padding: 0.8rem 0;
}

.dropdown-item {
    padding: 0.25rem 1rem;
}

.tab-content {
    background-color: rgba(var(--app-gray_0), 1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}