<h2>How to Play Syllogism</h2>

<p>Each syllogism question starts with a set of premises. For example:</p>
<ul>
    <li>Some Planet is Soup</li>
    <li>No Freezer is Turtle</li>
    <li>No Freezer is Planet</li>
    <li>All Turtle is Planet</li>
</ul>

<p>The game will present a conclusion that you must evaluate based on the premises. For example:</p>
<p><strong>Conclusion:</strong> "Some Freezer is Soup."</p>

<p>Once you’ve analyzed the premises and the conclusion, click the <strong>True</strong> button if you believe the conclusion logically follows from the premises, or the <strong>False</strong> button if it does not.</p>

<app-tutorial-negation-cue/>