<app-card>
    <div body>
        <app-daily-progress></app-daily-progress>

        <div
            *ngIf="{
                timeout: sylSrv.question.userAnswer === undefined,
                validity: sylSrv.question.userAnswer === sylSrv.question.isValid
            } as d"
            class="feedback-wrap"
            [class.feedback-timeout]="d.timeout"
            [class.feedback-correct]="!d.timeout && d.validity"
            [class.feedback-incorrect]="!d.timeout && !d.validity"
        >
            <div class="fs-1 fw-bold text-uppercase">
                {{ d.timeout ? "Timeout" : d.validity ? "Correct": "Incorrect" }}
            </div>
        </div>
    </div>

    <div footer class="playcard-toolbar">
        <div>
            <button
                class="btn btn-outline-primary"
                (click)="router.navigate([EnumScreens.Start]);"
            >
                <i class="bi bi-arrow-left"></i> Go to Start
            </button>
        </div>
        <div>
            <button class="btn btn-primary" (click)="sylSrv.play()">Press to Play</button>
        </div>
    </div>
</app-card>