<div class="card p-3 rounded text-center" *ngIf="!types.length">
    <h2>Type-Based Stats</h2>
    <h4 class="my-3">Play to see something here</h4>
    <button class="btn btn-lg btn-primary" (click)="sylSrv.playArcadeMode()">Press to Play</button>
</div>

<div class="d-grid gap-5">
    <div *ngFor="let type of types">
        <h2 class="text-center">{{ type }} Stats</h2>
    
        <ul class="list-group my-3">
            <li class="list-group-item flex-between">
                <b>Completed Questions</b>
                <div>{{ typeBasedStats[type].completed }}</div>
            </li>
    
            <li class="list-group-item flex-between">
                <b>Accuracy</b>
                <div>{{ typeBasedStats[type].accuracy | percent }}</div>
            </li>
        </ul>
    
        <div *ngIf="{ value: '2' } as activeTab">
            <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab.value" class="nav-tabs">
                <ng-container *ngFor="let ps of ['2','3','4','5','6+']">
                    <li [ngbNavItem]="ps">
                        <a ngbNavLink>{{ps}} Ps</a>
                        <ng-template ngbNavContent>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item flex-between">
                                    <b>Average Time per Answer</b>
                                    <div>{{
                                        ($any(typeBasedStats[type].stats)[ps]
                                            ? ($any(typeBasedStats[type].stats)[ps].sum / ((1000 * $any(typeBasedStats[type].stats)[ps].count)) || 0)
                                            : 0
                                        ) | number:".1-1"
                                    }} s</div>
                                </li>
                        
                                <li class="list-group-item flex-between">
                                    <b>Fastest Answer</b>
                                    <div>{{ (($any(typeBasedStats[type].stats)[ps]?.fastest / 1000) || 0) | number:".1-1" }} s</div>
                                </li>
                        
                                <li class="list-group-item flex-between">
                                    <b>Slowest Answer</b>
                                    <div>{{ (($any(typeBasedStats[type].stats)[ps]?.slowest / 1000) || 0) | number:".1-1" }} s</div>
                                </li>
                            </ul>
                        </ng-template>
                    </li>
                </ng-container>
            </ul>
            
            <div
                [ngbNavOutlet]="nav"
                class="shadow-sm overflow-hidden border border-top-0"
            ></div>
        </div>
    </div>
</div>
